testidata
kuvat
trades.json
funds.json
averages.json
all_trades.json
all_trades_temp.json
all_trades_minutes.json
keys.json
data.json
muistiinpanot.txt
muistiinpanot.txt
check_results.py
muistiinpanot.txt
rahatilanne.txt
test.py
check_results.py
